@model AutoGarden.Controllers.GlobalTime

<script type="text/javascript">
    function clock() {
        const now = new Date();
        const hours = now.getHours();
        const minutes = now.getMinutes();
        const seconds = now.getSeconds();
        const day = now.getDate();
        const month = now.getMonth();
        const year = now.getFullYear();
        const mn = hours < 12 ? "AM" : "PM";

        const outStr = month + "/" + day + "/" + year + " " + hours + ':' + minutes + ':' + seconds + mn;
        document.getElementById('clock').innerHTML = outStr;
        setTimeout('clock()', 1000);
    }

    clock();
</script>

<body onload="clock();" class="">
</body>

<h2 id="clock"></h2>