<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>@ViewData["Title"] - AutoGarden</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <style>
        body { display: none; }
    </style>
</head>
<body onload="date();clock();">
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon">
                        <span class="sr-only">Toggle Navigation</span>
                    </span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AutoGarden</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav border-0 bg-transparent rounded w-50">
                    <li class="nav-item list-group">
                        <a class="dropdown-item text-light border-0 rounded bg-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item text-light border-0 rounded bg-dark" asp-area="" asp-controller="Schedule" asp-action="Index">Schedules</a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-light align-content-center">
                <div id="clock"></div>
                <div id="date"></div>
            </div>
        </div>
    </nav>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2018 - AutoGarden</p>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.tutorialzine.com/misc/adPacks/v1.js" async></script>

<script type="text/javascript">
    function clock() {
        const now = new Date();
        const hours = now.getHours();
        const formattedHours = hours > 12 ? hours - 12 : hours;

        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');

        const mn = hours < 12 ? "AM" : "PM";

        const outStr = formattedHours + ':' + minutes + ':' + seconds + " " + mn;
        document.getElementById('clock').innerHTML = outStr;
        setTimeout('clock()', 1000);
    }

    function date() {
        const now = new Date();
        const day = now.getDate();
        const month = now.getMonth() + 1;
        const year = now.getFullYear();

        const outStr = month + "/" + day + "/" + year;
        document.getElementById('date').innerHTML = outStr;
        setTimeout('date()', 1000);
    }

    clock();
    date();

    $(document).ready(function() {
        $('body').fadeIn(700);
    });

</script>
@RenderSection("Scripts", false)
</body>
</html>