
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group">
    <label for="occurrences">Number of Occurrences: </label>
    <input id="occurrences" class="form-control" type="number" min="0" max="999" value="1"/>
</div>